Package: com.xtm3x.noblur
Name: NoBlur
Depends: mobilesubstrate preferenceloader
Version: 2.0
Architecture: iphoneos-arm
Description: Removes iOS blur views.
Depiction: https://xtm3x.github.io/repo/depics/noblur.html
Maintainer: xTheMaster3x
Author: xTheMaster3x <xtm3xyt@gmail.com>
Section: Tweaks
